name: CI

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Verify vendor/ is not present
        run: stat vendor && exit 1 || exit 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.24.2
          cache: true

      - name: Run tests with race detection
        run: go test -race ./...

      - name: model-distribution # TODO: Create a single Makefile for the monorepo
        run: make -C ./pkg/distribution/ all
